h5 {
    font-size: 2rem;
}

.container {
    max-width: 550px;
    height: 100vh;
    border: 1px solid blue;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
    padding: 25px 5px;
}

.weather-info {
    font-size: 1.5rem;
}